{% extends "empleado/base_empleado.html" %}
{% block title %}Consumos{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='empleado/consumos.css') }}">
{% endblock %}

{% block content %}
<h1>Monitoreo de Consumos</h1>
<div class="consumo-container">
    <div class="consumo-item">
        <h3>Agua</h3>
        <div class="bar agua"></div>
    </div>
    <div class="consumo-item">
        <h3>Luz</h3>
        <div class="bar luz"></div>
    </div>
    <div class="consumo-item">
        <h3>Gas</h3>
        <div class="bar gas"></div>
    </div>
</div>
{% endblock %}